.custom-bg-color{
    background-color : rgb(200, 232, 217);
}

.custom-b-color{
    background-color: rgb(236, 244, 241);
}

.btn-custom-btn{
    background-color:  rgb(200, 232, 217);
}

.custom-text-color{
    background-color: rgb(174, 193, 230);
}

.custom-effort{
    background-color: rgb(226, 237, 248);
}

.container{
    margin: 5px
}